*{
    margin:0;
    padding: 0;    
}

body{
/*    background-color:black;
  */  
  background: url('img/nature.jpg')no-repeat center center/cover;        
   
  justify-content: center;
    align-items: center;
    padding: 70px 40px 60px 40px;
     display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    background-color:lightsteelblue;
    padding: 25px 30px 40px 20px;
 }

 h1{
    text-align: center;
       font-family: 'Bree Serif', serif;
    font-weight: 300;
}

 .para{
   display: flex;
     margin-top: 0;
   margin-left: 150px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.para1{
   color:bisque;  
  font-weight: 300;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div p{
    margin-top: 20px;
   margin-left: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 600;  
}


.box{
    flex: 1;
   align-self: center;    
   margin-top: 3px;
}

.btn1{
    padding: 10px 40px;
    border: 1px solid whitesmoke;
    background-color:whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.btn1:hover{
    border:1px solid whitesmoke;
     background-color: cornsilk;
}


.line{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    margin-bottom: 1px;
    align-items: center;
    padding: 6px;
   }

.line .hrline {
     flex: auto;
     height: 1px;
     background:black;
}

.line span{
color: whitesmoke;
font-family:sans-serif ;
}


.form{
   align-self: center;
    flex:1;
     margin: 3px;

    }

.form label{
    font-size: 18px;
    line-height: 43px;
    font-weight: 20;
    font-family: 'Bree Serif', serif;
    color: black;
}


.form .email{
     margin-bottom: 1px;
     width: 100%;
     padding: 6px;
   border-radius: 2px;
  border: 1px solid whitesmoke;
}

.form .pwd{
    margin-bottom: 1px;
    width: 100%;
    padding: 6px;
  border-radius: 2px;
  border: 1px solid whitesmoke;

}

.form .checklabel{
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.form .forgetlabel{
    margin-left: 70px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500; 
    font-family: 'Bree Serif', serif;
    
}


.form a{
    text-decoration: none;    
    color: darkblue;
}

.form a:hover{ 
    color: blue; 
}


 .form .submitbtn{
    padding: 10px 40px;
    border:1px solid crimson;
     background-color:rgb(235, 25, 67);
    font-family: 'Bree Serif', serif;;
    margin: 1px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    width: 100%;
 }

 .form .submitbtn:hover{
    border:1px solid crimson;
     background-color:crimson;
}

